In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Read the CSV file
# Replace 'your_file.csv' with your actual file path
dfw = pd.read_csv('weather-010824-061024.csv')

In [25]:
dfw = dfw[dfw['ts_get'] >= '2024-08-01']
dfw = dfw[dfw['ts_get'] <= '2024-10-08 21:10:00']
dfw

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
0,41752,62,1013,0.0,1.54,360,0,2024-08-01 00:00:02,28.21,25.46,27.35,800
1,41753,60,1013,0.0,1.03,0,0,2024-08-01 01:00:01,27.66,24.81,26.85,800
2,41754,66,1013,0.0,1.54,10,0,2024-08-01 02:00:03,27.10,23.81,26.16,800
3,41755,61,1012,0.0,1.03,0,0,2024-08-01 03:00:02,25.97,23.79,24.97,800
4,41756,62,1013,0.0,1.54,50,0,2024-08-01 04:00:03,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...
1644,43396,87,1012,0.0,2.06,70,75,2024-10-08 17:00:02,18.98,17.81,18.18,803
1645,43397,82,1012,0.0,2.57,110,20,2024-10-08 18:00:03,17.81,17.64,17.66,801
1646,43398,83,1013,0.0,1.54,90,20,2024-10-08 19:00:04,17.66,16.81,17.66,801
1647,43399,83,1013,0.0,2.06,110,58,2024-10-08 20:00:03,17.10,16.81,17.10,803
1648,43400,88,1013,0.0,1.54,80,62,2024-10-08 21:00:02,18.79,16.81,17.20,803

In [26]:
dfw['ts_get'] = dfw['ts_get'].apply(lambda x: x[:-3])
dfw

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
0,41752,62,1013,0.0,1.54,360,0,2024-08-01 00:00,28.21,25.46,27.35,800
1,41753,60,1013,0.0,1.03,0,0,2024-08-01 01:00,27.66,24.81,26.85,800
2,41754,66,1013,0.0,1.54,10,0,2024-08-01 02:00,27.10,23.81,26.16,800
3,41755,61,1012,0.0,1.03,0,0,2024-08-01 03:00,25.97,23.79,24.97,800
4,41756,62,1013,0.0,1.54,50,0,2024-08-01 04:00,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...
1644,43396,87,1012,0.0,2.06,70,75,2024-10-08 17:00,18.98,17.81,18.18,803
1645,43397,82,1012,0.0,2.57,110,20,2024-10-08 18:00,17.81,17.64,17.66,801
1646,43398,83,1013,0.0,1.54,90,20,2024-10-08 19:00,17.66,16.81,17.66,801
1647,43399,83,1013,0.0,2.06,110,58,2024-10-08 20:00,17.10,16.81,17.10,803
1648,43400,88,1013,0.0,1.54,80,62,2024-10-08 21:00,18.79,16.81,17.20,803

In [28]:
ts = dfw['ts_get']
ts = sorted(list(set(ts)))
ts = [x.split(' ') for x in ts]
hashmap = {}
for x in ts:
    if x[0] not in hashmap:
        hashmap[x[0]] = 0
    hashmap[x[0]] += 1

for key, val in hashmap.items():
    if val != 24:
        print(key, val)

2024-08-30 23
2024-09-14 23
2024-09-15 23
2024-09-16 23
2024-09-28 23
2024-10-08 22

In [47]:
dfw[(dfw['ts_get'] >= '2024-09-28') & (dfw['ts_get'] <= '2024-09-29')]

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
1388,43140,80,1013,0.00,3.60,320,0,2024-09-28 00:00,24.34,22.64,23.13,800
1389,43141,79,1013,0.00,3.09,340,0,2024-09-28 01:00,23.79,22.64,22.91,800
1390,43142,74,1013,0.00,5.66,10,20,2024-09-28 03:00,23.23,21.53,21.83,801
1391,43143,71,1014,0.42,5.66,10,20,2024-09-28 04:00,23.23,21.53,21.83,500
1392,43144,68,1014,0.00,3.60,350,40,2024-09-28 05:00,21.55,20.81,21.46,802
1393,43145,70,1015,0.00,5.14,350,75,2024-09-28 06:00,22.68,20.42,20.97,803
1394,43146,65,1016,0.00,7.20,360,75,2024-09-28 07:00,20.99,20.81,20.99,803
1395,43147,62,1017,0.00,6.17,350,20,2024-09-28 08:00,21.55,20.81,21.46,801
1396,43148,53,1017,0.00,7.72,360,0,2024-09-28 09:00,23.23,22.66,22.88,800
1397,43149,46,1017,0.00,8.75,360,0,2024-09-28 10:00,24.90,23.75,23.78,800
1398,43150,42,1017,0.00,8.75,360,0,2024-09-28 11:00,25.46,24.30,24.46,800
1399,43151,39,1017,0.00,10.29,360,0,2024-09-28 12:00,26.01,24.30,24.46,800
1400,43152,38,1017,0.00,9.77,360,0,2024-09-28 13:00,26.01,23.98,24.41,800
1401,43153,35,1018,0.00,10.80,350,0,2024-09-28 14:00,25.46,24.30,24.46,800
1402,43154,34,1018,0.00,10.80,360,0,2024-09-28 15:00,23.81,23.21,23.30,800
1403,43155,41,1018,0.00,9.26,10,0,2024-09-28 16:00,24.34,22.64,22.98,800
1404,43156,43,1019,0.00,8.23,350,0,2024-09-28 17:00,22.10,20.97,21.93,800
1405,43157,53,1020,0.00,7.72,350,0,2024-09-28 18:00,21.57,19.30,19.89,800
1406,43158,59,1020,0.00,8.23,350,0,2024-09-28 19:00,19.90,18.75,18.99,800
1407,43159,61,1021,0.00,5.66,340,0,2024-09-28 20:00,18.81,18.19,18.59,800
1408,43160,62,1021,0.00,5.66,350,0,2024-09-28 21:00,18.79,17.64,17.91,800
1409,43161,64,1022,0.00,5.66,360,0,2024-09-28 22:00,18.23,16.81,17.63,800
1410,43162,65,1022,0.00,4.63,340,0,2024-09-28 23:00,18.23,16.81,17.63,800
1653,43141,79,1013,0.00,3.09,340,0,2024-09-28 02:00,23.79,22.64,22.91,800

In [ ]:
new_row = dfw[dfw['ts_get'] == '2024-09-14 08:00'].copy()
new_row['ts_get'] = '2024-09-14 09:00'
dfw = pd.concat([dfw, new_row], ignore_index=True)

In [35]:
new_row = dfw[dfw['ts_get'] == '2024-08-30 09:00'].copy()
new_row['ts_get'] = '2024-08-30 10:00'
dfw = pd.concat([dfw, new_row], ignore_index=True)

In [40]:
new_row = dfw[dfw['ts_get'] == '2024-09-15 01:00'].copy()
new_row['ts_get'] = '2024-09-15 02:00'
dfw = pd.concat([dfw, new_row], ignore_index=True)

In [43]:
new_row = dfw[dfw['ts_get'] == '2024-09-15 23:00'].copy()
new_row['ts_get'] = '2024-09-16 00:00'
dfw = pd.concat([dfw, new_row], ignore_index=True)

In [46]:
new_row = dfw[dfw['ts_get'] == '2024-09-28 01:00'].copy()
new_row['ts_get'] = '2024-09-28 02:00'
dfw = pd.concat([dfw, new_row], ignore_index=True)

In [2]:
dfw.describe()

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,max_temp,min_temp,ave_temp,cod_weather
count,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000,1658.000000
mean,42580.500000,63.146562,1013.204463,0.027835,3.855072,223.652593,12.585042,25.521043,24.121049,24.915084,791.086852
std,478.767689,12.288755,3.075757,0.275233,2.109445,118.143934,21.160828,4.465253,4.554314,4.424531,61.331334
min,41752.000000,16.000000,1002.000000,0.000000,0.140000,0.000000,0.000000,13.750000,11.810000,12.850000,200.000000
25%,42166.250000,55.000000,1011.000000,0.000000,2.240000,150.000000,0.000000,22.660000,20.970000,22.010000,800.000000
50%,42580.500000,65.000000,1013.000000,0.000000,3.600000,210.000000,0.000000,25.440000,23.935000,24.970000,800.000000
75%,42994.750000,72.000000,1015.000000,0.000000,5.140000,340.000000,20.000000,28.810000,27.680000,28.300000,801.000000
max,43409.000000,89.000000,1024.000000,6.300000,12.860000,360.000000,100.000000,38.810000,35.810000,38.770000,804.000000

In [3]:
dfw.isnull().sum()

id             0
hum            0
pres           0
rain_1h        0
wind_speed     0
wind_deg       0
clouds_all     0
ts_get         0
max_temp       0
min_temp       0
ave_temp       0
cod_weather    0
dtype: int64

In [48]:
dfw

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
0,41752,62,1013,0.0,1.54,360,0,2024-08-01 00:00,28.21,25.46,27.35,800
1,41753,60,1013,0.0,1.03,0,0,2024-08-01 01:00,27.66,24.81,26.85,800
2,41754,66,1013,0.0,1.54,10,0,2024-08-01 02:00,27.10,23.81,26.16,800
3,41755,61,1012,0.0,1.03,0,0,2024-08-01 03:00,25.97,23.79,24.97,800
4,41756,62,1013,0.0,1.54,50,0,2024-08-01 04:00,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...
1649,42457,55,1017,0.0,1.79,132,0,2024-08-30 10:00,28.77,27.81,28.77,800
1650,42815,53,1017,0.0,4.02,289,0,2024-09-14 09:00,19.30,17.81,18.67,800
1651,42831,79,1017,0.0,3.60,350,0,2024-09-15 02:00,17.68,13.81,14.68,800
1652,42852,66,1015,0.0,2.68,355,0,2024-09-16 00:00,18.79,17.64,17.65,800
1653,43141,79,1013,0.0,3.09,340,0,2024-09-28 02:00,23.79,22.64,22.91,800

In [5]:
start = '2024-08-01 00:00:00'
stop = '2024-10-08 21:10:00'

In [6]:
dfw = dfw[(dfw['ts_get'] >= start) & (dfw['ts_get'] <= stop)]

In [50]:
dfw

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
0,41752,62,1013,0.0,1.54,360,0,2024-08-01 00:00,28.21,25.46,27.35,800
1,41753,60,1013,0.0,1.03,0,0,2024-08-01 01:00,27.66,24.81,26.85,800
2,41754,66,1013,0.0,1.54,10,0,2024-08-01 02:00,27.10,23.81,26.16,800
3,41755,61,1012,0.0,1.03,0,0,2024-08-01 03:00,25.97,23.79,24.97,800
4,41756,62,1013,0.0,1.54,50,0,2024-08-01 04:00,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...
1649,42457,55,1017,0.0,1.79,132,0,2024-08-30 10:00,28.77,27.81,28.77,800
1650,42815,53,1017,0.0,4.02,289,0,2024-09-14 09:00,19.30,17.81,18.67,800
1651,42831,79,1017,0.0,3.60,350,0,2024-09-15 02:00,17.68,13.81,14.68,800
1652,42852,66,1015,0.0,2.68,355,0,2024-09-16 00:00,18.79,17.64,17.65,800
1653,43141,79,1013,0.0,3.09,340,0,2024-09-28 02:00,23.79,22.64,22.91,800

In [49]:
dfw.to_csv(f'weather-final-data.csv', index=False)